<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center >
      Get an account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="6" size-sm="6" size-xs="12">
          <div padding>
            <!--  Fistname and lastname block  -->
            <ion-row>
              <ion-col align-self-center  >
                <ion-item>
                  <ion-input  name="u_name" type="text" placeholder="Your name" ngModel required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <!--  Pseudo block  -->
            <ion-row>
              <ion-col align-self-center>
                <ion-item>
                  <ion-input name="u_pseudo" type="text" placeholder="Email or phone" ngModel required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <!--  Password block  -->
            <ion-row>
              <ion-col align-self-center size-md="6" size-lg="6" size-sm="6" size-xs="12">
                <ion-item>
                  <ion-input name="u_password" type="password" placeholder="Password" ngModel required></ion-input>
                </ion-item>
              </ion-col>
              <ion-col align-self-center size-md="6" size-lg="6" size-sm="6" size-xs="12">
                <ion-item>
                    <ion-input name="u_confirm_password" type="password" placeholder="Confirm" ngModel required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
          <div padding>
            <ion-button type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div>
          <div text-center align-self-center padding style='font-size: 80%;'>
            Already have an account ? <a routerLink='/login'>Sign in</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>